<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kalkulator rat malejących</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
  <script src="node_modules/angular/angular.js" defer></script>
  <script src="src/calc/calcModule.js" defer></script>
  <script src="src/calc/inputForm/inputFormComponent.js" defer></script>
  <script src="src/calc/resultView/resultViewComponent.js" defer></script>
  <script src="src/index.js" defer></script>

</head>
<header>
</header>

<body>


        <input-form loan-amount="$ctrl.loanAmount" loan-months="$ctrl.loanMonths" loan-temp="$ctrl.loanTemp" loan-interest="$ctr.loanInterest"></input-form>
        <result-view loan-amount="$ctrl.loanAmount" loan-months="$ctrl.loanMonths" loan-temp="$ctrl.loanTemp"></result-view>

<!-- <pre>{{$ctrl}}</pre> -->
</body>

</html>