<h1>Kalkulator ratalny</h1>

<div class="form-group"><label for="loan_amount">Kwota kredytu</label><input type="number" class="form-control"
    id="loan_amount" ng-model="$ctrl.loanAmount">
</div>

<div class="form-group"><label for="loan_months" >Ilość rat</label><input type="number" class="form-control"
    id="loan_months" ng-model="$ctrl.loanMonths"></div>
<div class="form-group"><label for="loan_interest" >Wysokość kredtu</label><input type="number" class="form-control"
        id="loan_interest" ng-model="$ctrl.loanInterest"></div>

<div class="form-group mt-3">
  <button class="btn btn-primary float-end" id="js-oblicz" ng-click="$ctrl.calculateLoan($Event)">Oblicz</button>