<table class="table table-stripped">
    <thead>
        <tr>
            <th>Rata</th>
            <th>Zadłużenie</th>
            <th>Rata</th>
            <th>Część kapitałowa</th>
            <th>Część odsetkowa</th>
        </tr>
    </thead>
    <tbody id="dane">
        <tr ng-repeat="item in $ctrl.loanTemp">
            <td>{{item.installmentNumber}}</td>
            <td>{{$ctrl.round(item.amountOfCapital)}}</td>
            <td>{{$ctrl.round(item.installment)}}</td>
            <td>{{$ctrl.round(item.capitalPart)}}</td>
            <td>{{$ctrl.round(item.interestPart)}}</td>
        </tr>
    </tbody>
    <tfoot id="podsumowanie">
        <tr>
            <td>Suma</td>
            <td id="js_suma"></td>
            <td id="js_sumaOdsetek"></td>
            <td></td>
            <td id="js_sumaRat"></td>
        </tr>
    </tfoot>
</table>
<!-- <pre>{{$ctrl.loanTemp}}</pre> -->